@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts" !default;
@import 'bourbon';
@import 'neat';

li{
  border:1px solid gray;
  background-color:silver;
  width:350px;
  height:35px;
  display:block;
  font-size:20px;
  font-family:sans-script;
  color: rgb(113, 106, 106);
  margin-left:15%;
  vertical-align:centre;



}
span{
  float:right;
  border:2px solid black;
  border-radius:13px;
  background-color:white;
  margin-top: 2%;
  margin-right: 1.2%;
  width: 40px;
  text-align: center;
}

.files{
  background-color:rgba(98, 132, 177, 0.62);
  height:40px;

  margin-top:10%;
}

li:hover, .files:hover{
  background-color: green;
  color:silver;
}
 li:active, .files:active{
  height:70px;

 }
