@import 'reset';
.rowa, .rowb, .rowc, .rowd{
    margin-left:7%;
}



.delete{
    width:136px;

}

.tab{
    width:136px;
}

.return, .caps{
width:140px;}


.shift{
    width:177px;
}
button{
    width:70px;
    height:40px;
    margin-top:.25%;
}

p{
    margin-top:7%;
}
textarea{
    width:100%;
    height:300px;

}
